<h1> All Events </h1>

Past Events
<ul>
  <% @events.past.each do |event| %>
    <li><%= event.title %> @ <%= event.location %> BY <%= User.find_by(id: event.creator_id).name %></li>
  <% end %>
</ul>

<br>

Upcoming Events
<ul>
  <% @events.upcoming.each do |event| %>
    <li><%= event.title %> @ <%= event.location %> BY <%= User.find_by(id: event.creator_id).name %></li>
  <% end %>
</ul>